html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
*,*::before,*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}

body{
    margin:0 5%;
    font-size: 18px;
    line-height: 1.0;
    font-weight: 200;
    padding: 50px 0px;
    text-align: center;
    /* letter-spacing: 1px; */
}

#container{
    /* margin:0 5%; */
}
header{
    font-size: 1.333em;
}

header >p{
    font-weight: 400;
}
header > h3{
    font-weight: 600;
}
header>p:last-child{
    font-weight: 200;
    font-size: 1em;
    /* text-align: center; */
    
}