html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
*,*::before,*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    
}

body{
    margin:0 5%;
    font: 200 15px/1.0  'Poppins',sans-serif;
    padding: 50px 0px;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}
h3{
    font: 600 1.33em Arial;
}


header{
    font-size: 1.333em;
    margin:50px 0 100px 0;
}

header >p{
    font-weight: 400;
}
header > h3{
    font-weight: 600;
}
header>p:last-child{
    font-size: 1em;
    text-align: center; 
}

#container {
    text-align: left;
}
.item{
    margin-bottom:20px;
    border: 2px solid white;
    border-bottom: 2px solid hsl(0, 0%, 98%);
    border-radius: 10px;
    padding:20px 10% 20px 10%;
    height:220px;
    margin-bottom:20px ;
    box-shadow: 10px 20px 40px hsl(229, 6%, 66%);
}
#item4{
    border-top:5px solid hsl(212, 86%, 64%)
}
#item2 {
    border-top: 5px solid hsl(0, 78%, 62%)
}
#item3 {
    border-top: 5px solid hsl(34, 97%, 64%)
}
#item1 {
    border-top: 5px solid hsl(180, 62%, 55%)
}
.item>h3{
    margin:0;
}
img{
    float:right;
    width:70px;
    padding: 30px 0;
    margin-bottom:20px
}



@media screen and (min-width:1440px){
    #container{
        width:100%;
       display:grid;
       grid-template-rows:  500px 400px;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-areas: "Supervisor TeamBuilder Calulator"
                            "Supervisor Karma Calculator" ;
    }
    

    #item1{
        grid-row-start:  1;
        grid-row-end:  -1;
        grid-column-start:1;
        grid-column-end:2;
        /* background: red; */
        margin:0 30px;
        margin-top:350px;
        height:300px
    }
    #item4{
        grid-row-start:1;
        grid-row-end: -1;
        grid-column-start:3;
        grid-column-end:4;
        /* background: greenyellow; */
        margin-top:350px;
        height:300px
    }
    
    #item2{
        grid-row-start:1;
        grid-row-end: 2;
        /* background: blue; */
        margin-right:30px;
        height:300px;
        padding-top:30px;
        margin-top:150px
    }
    #item3{
        grid-row-start:2;
        grid-row-end:3;
        /* background: violet; */
        margin-right:30px;
        height:300px;
        margin-bottom: ;
    }
}
@media screen and (min-width:1065px){
    header> p:last-child{
        margin:0 15%;
        padding:0 5%;