html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
*,*::before,*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    /* clear:both; */
    /* padding:0; */
}

body{
    margin:0 5%;
    font: 200 15px/1.0  Arial;
    padding: 50px 0px;
    text-align: center;
}
h3{
    font: 600 1.33em Arial;
}


header{
    font-size: 1.333em;
    margin:50px 0 100px 0;
}

header >p{
    font-weight: 400;
}
header > h3{
    font-weight: 600;
}
header>p:last-child{
    font-size: 1em;
    text-align: center; 
}

#container {
    text-align: left;
}
.item{
    margin-bottom:20px;
    border: 2px solid white;
    border-bottom: 2px solid blue;
    border-top: ;
    border-radius: 10px;
    padding:20px 10% 20px 10%;
    height:220px;
    margin-bottom:20px ;
}
#item4{
    border-top:2px solid hsl(212, 86%, 64%)
}
#item2 {
    border-top: 2px solid hsl(0, 78%, 62%)
}
#item3 {
    border-top: 2px solid hsl(34, 97%, 64%)
}
#item1 {
    border-top: 2px solid hsl(180, 62%, 55%)
}
.item>h3{
    margin:0;
}
img{
    float:right;
    width:20%;
    padding: 30px 0;
    margin-bottom:20px
}
.image-con{
    /* padding:20px */
}


@media screen and (min-width:1440px){
    body{
        display: none;
    }
}